html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: block;
}

p {
  line-height: 1.8rem;
}

h1,
h2,
h3,
p,
li {
  color: #fff;
}

h1,
h2,
h3 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  margin: 8px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.seo-link {
  display: inline;
}

.hdr,
.ftr {
  position: relative;
  box-shadow: 0px 1px 8px 0px rgba(255, 255, 255, 0.75);
}

.container {
  padding: 40px 30px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

.hdr {
  min-height: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sub-hdr {
  margin-top: 60px;
}

.hdr-nav {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  display: block;
}

.banner,
.banner-bottom {
  background-image: url(../img/desktop-banner.png);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-au {
  background-image: url(../img/5282805552583403091.jpg);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  background-color: #133fda;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
}

.container .btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.accent-heading {
  font-weight: bold;
  font-style: italic;
}

.ftr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.social {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 8px;
    max-width: 100%;
  }

  /* .hdr {
    height: 40px;
  } */

  .banner,
  .banner-bottom {
    background-image: url(../img/mob-banner.png);
  }

  .banner-au {
    background-image: url(../img/5282805552583403091.jpg);
    /* background-size: contain; */
  }
}
