html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  display: block;
}

p {
  line-height: 1.8rem;
}

h1,
h2,
h3,
p,
li {
  color: #fff;
}

h1,
h2,
h3 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  margin: 8px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sublist{
  margin: 0;
  padding: 0;
}

.seo-link {
  display: inline;
}

.hdr,
.ftr {
  position: relative;
  box-shadow: 0px 1px 8px 0px rgba(255, 255, 255, 0.75);
}

.container {
  padding: 40px 30px;
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-color: #000;
}

.hdr {
  min-height: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.sub-hdr {
  margin-top: 60px;
}

.hdr-nav {
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo {
  display: block;
}

.banner,
.banner-bottom {
  background-image: url(../img/desktop-banner.png);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-au {
  background-image: url(../img/5282805552583403091.jpg);
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  background-color: #133fda;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
}

.container .btn {
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.accent-heading {
  font-weight: bold;
  font-style: italic;
}

.list-item-decor {
  margin: 16px;
  padding: 16px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2), 2px 0px 5px rgba(0, 0, 0, 0.2),
    2px 2px 5px rgba(0, 0, 0, 0.2) inset, -2px -2px 5px white inset;
  border-radius: 16px;
  text-align: center;
}

.list-item-kasko-decor {
  margin: 16px;
  /* padding: 6px;  */
  text-align: left;
}

.ftr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.social {
  display: flex;
}

.cta-social-block {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.cta-social-block-links{
  display: flex;
justify-content: center;
}

.hidden-title{
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
}

.visual-seo-link{
  color: #8d8ffc;
}

.order-btn{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px;
  width: 90%;
  background-color: rgb(252, 217, 34);
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;   
  font-weight: 600;
}

.submit-kasko-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px;
  width: 90%;
  background-color: #0c08fc;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;   
  font-weight: 600;
  
}

.ekasko-title{
  text-align: left;
}

/* форма */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  /* background: white; */
  padding: 20px;
  border-radius: 8px;
  z-index: 20;
  background-color: rgb(188, 195, 231);
}

.form-container input {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px; 
  border: none; 
  border-bottom: 2px solid #020202; 
  outline: none; 
  background-color: rgb(188, 195, 231);
}

.product-kasko-name{
  color: #020202;
}

#order-form label {
  display: block;
  margin-top: 10px;
}

#order-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: rgb(252, 217, 34);
  color: white;
  border: none;
  cursor: pointer;
}

button#close-form {
  background-color: #dc3545;
}

/* форма */
@media (max-width: 768px) {
  .container {
    padding: 20px 8px;
    max-width: 100%;
  }

  /* .hdr {
    height: 40px;
  } */

  .banner,
  .banner-bottom {
    background-image: url(../img/mob-banner.png);
  }

  .banner-au {
    background-image: url(../img/5282805552583403091.jpg);
    /* background-size: contain; */
  }
}
